{% load wagtailsettings_tags %}

<style>
#subscribe section {
    padding: 100px 0;
    text-align: center;
}
#subscribe select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
#subscribe select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #22313F;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
#subscribe .free {
    text-transform: uppercase;
}
#subscribe .input-group {
    margin: 20px auto;
    width: 100%;
}
#subscribe input.btn.btn-lg {
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#subscribe button.btn {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#subscribe .promise {
    color: #999;
}
</style>

<section>
<div id="subscribe" class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
    	 <div class="card bg-faded">
             <div class="card-block">
                 <form action="{{ self.form_action_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                  <div class="input-group">
                     <input class="btn btn-lg" name="EMAIL" id="mce-EMAIL" type="email" placeholder="Your Email" required>
                     <button class="btn btn-info btn-lg" type="submit">Submit</button>
                  </div>
                 </form>
             </div>
    	 </div>
		</div>
	</div>
</div>
</section>

